<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<div>
    username <input id="username" type="text"/> <br/>
    email <input id="email" type="email"/> <br/>
    password <input id="password" type="password"> <br/>
    confirm <input id="confirm" type="password"> <br/>
    <button onclick="">OK</button>
    <button onclick="">Cancel</button>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">

</script>

</body>
</html>